.channelThumb {
  width: 158px !important;
  height: 140px !important;
}

.thmumb:hover .image {
  opacity: 0.3;
}

.thmumb:hover .middle {
  opacity: 1;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.playlist-form {
  background-color: #f44336;
  color: white;
  font-size: 16px;
  padding: 6px 15px;
}

.channelForm {
  background-color: #3a8ee6;
  color: white;
  font-size: 16px;
  padding: 6px 15px;
}

.channel-form {
  background-color: #3a8ee6;
  color: white;
  font-size: 16px;
  padding: 6px 15px;
}

.thumb .thumbCaption {
  padding: 10px 0;
}

.overlay {
  position: relative;
}

.overlay .thumbnail {
  display: block;
}

.overlay .time {
  position: absolute;
  z-index: 2;
  right: 3px;
  bottom: 3px;
  padding: 2px 5px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

.overlay .playWrapper {
  opacity: 0;
  position: absolute;
  z-index: 1;
  top: 0;
  width: 159px;
  height: 100px;
  background: rgba(0, 0, 0, 0.6);
  transition: 0.5s ease;
}

.overlay .channelWrapper {
  height: 140px !important;
}

.playWrapper .playBtn {
  position: absolute;
  z-index: 2;
  width: 50px;
  height: 50px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  /* center */
}

.thumb .overlay:hover .playWrapper {
  opacity: 1;
}

.overlayMenu {
  text-align: center;
  margin-top: 36px;
}

.channelMenu {
  text-align: center;
  margin-top: 60px;
}

.channelMenu a {
  padding: 10px;
}

.overlayMenu a {
  padding: 10px;
}

.wrapper {
  margin: 5px;
}

.el-row::-webkit-scrollbar {
  width: 10px;
}

.el-row::-webkit-scrollbar-track {
  background-color: #1d232f;
}

.el-row::-webkit-scrollbar-thumb {
  background-color: #ffffff;
}

.el-row::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.collections {
  font-size: 28px;
  color: #ffffff;
  font-weight: 700;
  padding-left: 5px;
}

.el-scroll {
  overflow-y: scroll;
  height: 460px;
}

.header {
  margin-left: 10px;
  margin-bottom: 30px;
}

.cols {
  padding: 8px;
  margin-top: 10px;
}

.notLogin {
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  margin-top: 200px;
}

.link {
  text-align: center;
  margin-top: 30px;
}

.sub {
  font-size: 12px;
  font-weight: 700;
  color: #fff;
}

.menuName {
  color: #ffffff;
}

.menu1 {
  margin: 25px 10px 0px 4px;
}

.wh {
  color: #ffffff;
}

.tr {
  color: #ffeb3b;
}

.gr {
  color: #d85f5f;
}

.menu1_tip {
  margin-left: 10px;
  margin-top: 7px;
}

.md-top-61 {
  margin-top: 61px;
}

.noList {
  color: #d85f5f;
  margin-top: 20px;
  padding-left: 10px;
  font-size: 15px;
  font-weight: 700;
}

.more {
  float:right;
  font-size: 11px;
  font-weight: 700;
}

.more:hover {
  color: #ffeb3b;
  font-weight: 700;
}

.menu {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.text {
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.myCollectionLabel {
  position: absolute;
  top: 74px;
  right: 2px;
}

.sideMenu {
  position: absolute;
  top: 55px;
  right: 0;
  z-index: 999;
  color: #ffffff;
}

.f20 {
  font-size: 20px;
}

.f22 {
  font-size: 22px;
}

.f25 {
  font-size: 25px;
}

.f30 {
  font-size: 30px;
}

.fa:hover {
  color: #ffffff;
}