@import url("https://fonts.googleapis.com/css?family=Open+Sans");
html {
  background: #171e2d;
  font-family: "sans-serif", sans-serif;
}

body {
  overflow: hidden;
  margin: 0px;
}

.v--modal {
  font-family: "sans-serif", sans-serif;
}

.zaudio_wrapper {
  flex-direction: column;
  max-width: 600px;
  min-height: 595px;
}

.zaudio_wrapper_min {
  flex-basis: 320px;
  max-width: 320px;
}

.zaudio_wrapper_noplaylist {
  flex-basis: 500px;
  max-width: 500px;
}

.bdright {
  border-right: 1px solid #1b1b1b;
}
/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
  background-color: #171e2d;
  border-top: 1px solid #1b1b1b;
  overflow: hidden;
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index: 1000;
}
/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 19.4px;
  text-decoration: none;
  font-size: 11px;
  font-weight: 700;
}
/* Change the color of links on hover */
.navbar a:hover {
  background-color: #ffffff;
  color: black;
}
/* Add a color to the active/current link */
.navbar a.active {
  background-color: #4caf50;
  color: white;
}

.musicList {
  margin: 0px;
  padding: 0px;
  background: #1b1b1b;
  box-shadow: 0px 0px 1px #a2a2a2;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  max-height: 0px;
  transition: max-height 400ms cubic-bezier(0.87, -0.01, 0.15, 0.98);
  overflow-y: scroll;
}

.musicList::-webkit-scrollbar {
  width: 8px;
}

.musicList::-webkit-scrollbar-track {
  background: #111111;
}

.musicList::-webkit-scrollbar-thumb {
  background: #ffffff;
}

.musicList li {
  cursor: pointer;
  padding: 14px;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid rgba(238, 238, 238, 0.3);
}

.musicList li span:nth-of-type(1) {
  font-weight: 500;
}

.musicList li span:nth-of-type(2) {
  color: #b3b3b3;
}

.musicList li span {
  padding-left: 5px;
  padding-right: 5px;
}

.musicList li:hover {
  color: #28b1ff;
  font-weight: 700;
}

.musicList li img {
  height: 44px;
  width: 44px;
}

.active {
  color: #28b1ff !important;
  font-weight: 700;
  background-color: rgba(6, 19, 47, 0.75);
}

.zaudio_playlist {
  margin: 0px;
  padding: 0px;
  background: rgba(23, 29, 41, 0.46) !important;
  box-shadow: 0px 0px 1px #a2a2a2;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  max-height: 0px;
  transition: max-height 400ms cubic-bezier(0.87, -0.01, 0.15, 0.98);
  overflow-y: scroll;
}

.zaudio_playlist::-webkit-scrollbar {
  width: 10px;
}

.zaudio_playlist::-webkit-scrollbar-track {
  background: #111111;
}

.zaudio_playlist::-webkit-scrollbar-thumb {
  background: #ffffff;
}

/* Handle on hover */
.zaudio_playlist::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.zaudio_playlist li {
  padding: 14px;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid rgba(238, 238, 238, 0.3);
}

.zaudio_playlist li span:nth-of-type(1) {
  /* font-weight: 700; */
}

.zaudio_playlist li span:nth-of-type(2) {
  color: #b3b3b3;
}

.zaudio_playlist li span {
  padding-left: 5px;
  padding-right: 5px;
}

.zaudio_playlist li span.music-title:hover {
  color: #28b1ff;
}

.zaudio_playlist li img {
  height: 44px;
  width: 44px;
}

.zaudio_stream_circle {
  background-color: #9deb45;
  right: 5px;
  top: 5px;
  height: 15px;
  width: 15px;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.zaudio_container {
  flex-wrap: wrap;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  z-index: 1;
}

.zaudio_art {
  min-width: 166px;
  min-height: 166px;
  background-color: #eee;
  background-size: cover;
  transition: background-image 0.5s ease-in;
}

.zaudio_songtitle {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
}

.zaudio_songartist {
  font-size: 13px;
  font-weight: 400;
  color: #ffffff;
}

.zaudio_seekbar {
  flex-grow: 1;
  display: flex;
  padding: 5px;
  align-items: center;
}

.zaudio_seekbg {
  cursor: pointer;
  height: 8px;
  border-radius: 4px;
  flex: 1;
  background-color: #e6e6e6;
}

.zaudio_seekfill {
  height: 8px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #ff9900;
  width: 0%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow: visible;
}

.zaudio_playercontrolbuttons i {
  cursor: pointer;
}

.zaudio_buttonwrapper {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.zaudio_btn_play {
  font-size: 54px;
}

.zaudio_playercontrolbuttons i:hover {
  transition: all 0.5s;
  background-color: #eeeeee;
  border-radius: 32px;
}

.zaudio_seeker {
  margin-right: -7px;
  height: 14px;
  min-width: 14px;
  border-radius: 10px;
  border: 2px solid #ff9900;
  background-color: white;
}

.zaudio_tracktime {
  font-size: 12px;
  color: #ffffff;
  font-weight: 700;
  padding-left: 6px;
  padding-right: 5px;
}

.zaudio_tracktime_mini {
  font-size: 22px;
}

.zaudio_trackinfo {
  flex-direction: column;
}

.zaudio_playercontrols {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  margin-top: 10px;
}

.zaudio_icons {
  color: #3e3e3e;
}

.zaudio_playercontrolbuttons {
  flex-grow: 1;
  display: flex;
  margin-right: 5px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.zaudio_player {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #242f44 !important;
}

.zaudio_spinner {
  border: 3px solid #f3f3f3;
  border-top: 3px solid;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .zaudio_art {
    flex: 1;
    min-height: 180px;
    background-position: center;
    background-color: #5e5e5e;
    display: flex;
    justify-content: center;
  }
}
